body {
    text-align: center;
    background-color: lightskyblue;
}

#marqueeStyle {
    background-color: white;
}
#image {
    height: 50%;
    width: 50%;
}
#description {
    text-align: center;
}
#goals {
    text-align: center;
}